<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/anunciar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoTech</title>
    <link rel="icon" href="images/Logo.png" type="image/x-icon">
</head>
<body>

     <header>
        
        <a href="/"><img src="images/Logo.png" alt="Logo" width="150" height="150"></a>

        <nav>
            <ul>
                <li><a href="/sobre">QUEM SOMOS</a></li>

                {{#estaLogado}}
                <li style="color: #12BD27; font-size: 20px;">
                    <a href="/perfil">PERFIL</a> / 
                    <form action="/usuario/logoutUsuario" method="POST" style="display:inline;">
                        <button type="submit" style="color: red; font-size: 20px; background: none; border: none; cursor: pointer;">SAIR</button>
                    </form>
                </li>
                {{/estaLogado}}

                {{^estaLogado}}
                <li><a href="/entrar">ENTRAR</a></li>
                {{/estaLogado}}
            </ul>
        </nav>

    </header>

    <form id="anuncioForm" action="/itens/registerItem" method="POST" enctype="multipart/form-data">

        <h2>Novo Anúncio</h2>

        <label for="nome_item">Nome: </label>
        <input id="nome_item" name="nome_item" type="text">

        <label for="descricao_item">Descrição: </label>
        <textarea id="descricao_item" name="descricao_item" rows="4" cols="50"></textarea>

        <label for="preco_item">Preço (R$): </label>
        <input id="preco_item" name="preco_item" type="number" step="0.01" min="0" placeholder="0.00">

        <label for="estado_item">Estado:</label>

        <select id="estado_item" name="estado_item">
            <option value="Novo">Novo</option>
            <option value="Usado">Usado</option>
        </select>

        <label for="imagem_item">Imagem do Item:</label>

        <label class="customizar-file">

        <input type="file" id="imagem_item" name="imagem_item" accept="image/*">
            <span id="file-nome">Selecionar Imagem</span>
        </label>

        <img id="preview" src="default-image.png" alt="Prévia da imagem">

        <label for="id_departamento">Departamento: </label>
        <select id="id_departamento" name="id_departamento">
            <option value="1">Monitores</option>
            <option value="2">Fontes</option>
            <option value="3">Processadores</option>
            <option value="4">Placas de vídeo</option>
            <option value="5">Memória RAM</option>
        </select>

        <button type="submit">Enviar anúncio</button>
    
    </form>

    <div id="confirmacaoModal" class="modal">

        <h3> Seu anúncio foi submetido </h3>

        <p>Acompanhe pelo e-mail a confirmação do anúncio no site</p>

    </div>

    <script src="../js/anunciar.js"> </script>


</body>

</html>
