<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/departamento.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoTech</title>
    <link rel="icon" href="images/Logo.png" type="image/x-icon">
</head>
<body>

    <header>
        
        <img src="images/Logo.png" alt="Logo" width="150" height="150">

        <nav>
            <ul>
                <li><a href="/sobre">SOBRE</a></li>
                <li><a href="/">HOME</a></li>
            </ul>
        </nav>


    </header>

    {{#departamento}}

        <h1>{{.}}</h1>

    {{/departamento}}

    <div class="itens">

        {{#itens}}

        <div class="item">

            <img id="base64Image" src="data:image/png;base64,{{imagem_item}}" alt="Imagem em Base64" width="150" height="150">
            <p>{{nome_item}}</p>
            <p><strong>R${{preco_item}}</strong></p>

        </div>

        {{/itens}}

    </div>

    <footer>
        
        <p> Todos os direitos reservados </p>

    </footer>


</body>

</html>
