<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/descricao.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoTech</title>
    <link rel="icon" href="images/Logo.png" type="image/x-icon">
</head>
<body>

    <header>
        
        <img src="images/Logo.png" alt="Logo" width="150" height="150">

        <nav>
            <ul>
                <li><a href="/sobre">QUEM SOMOS</a></li>

                {{#estaLogado}}
                <li style="color: #12BD27; font-size: 20px;">
                    <a href="/perfil">PERFIL</a> / 
                    <form action="/usuario/logoutUsuario" method="POST" style="display:inline;">
                        <button type="submit" style="color: red; font-size: 20px; background: none; border: none; cursor: pointer;">SAIR</button>
                    </form>
                </li>
                {{/estaLogado}}

                {{^estaLogado}}
                <li><a href="/entrar">ENTRAR</a></li>
                {{/estaLogado}}
            </ul>
        </nav>

    </header>

    {{#item}}

    <div class="item">
        <img src="data:image/jpeg;base64,{{imagem_item}}" alt="Imagem do item" width=200 height=200>
        <div id=informacoesDoItem>
            <p id="nomeItem">{{nome_item}}</p>
            <p id="estadoItem">Condição: {{estado_item}} </p>
            <p id=precoItem>R${{preco_item}}</p>
        </div>
    </div>

    <hr>

    <div class="descricao">
        <h2>Descrição</h2>
        <p id="descricaoItem">{{descricao_item}}</p>
    </div>

    {{/item}}

    <footer>
        
        <p> Todos os direitos reservados </p>

    </footer>


</body>

</html>
