<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/entrar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoTech</title>
</head>
<body>

    <header>
        <img src="images/Logo.png" alt="Logo">

        <a href="/entrar"></a>

    </header>

    <form action="/usuario/registerUsuario" method="post" enctype="multipart/form-data">>

        <h2>Entrar</h2>

        <label for="email_usuario">Email:</label>
        <input id="email_usuario" name="email_usuario" type="text">

        <label for="senha_usuario">Senha:</label>
        <input id="senha_usuario" name="senha_usuario" type="password">

        <a href="/registrar"> Não possui uma conta? Cadastre-se</a>


    <button type="submit">Entrar</button>
    
    </form>

    <footer>
        
        <p> Todos os direitos reservados </p>

    </footer>

</body>

</html>
