<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoTech</title>
</head>
<body>

    <header>
        <img src="images/Logo.png" alt="Logo">

        <a href="/login">ANUNCIAR</a>

    </header>

    <h2>Produtos Recomendados pelo site</h2>

    <div class="carrossel">

        {{#dataValuesArray}}

        <div class="item">

            <img src="{{imagem_item}}" alt="Imagem do item">
            <p>{{nome_item}}</p>
            <p>{{preco_item}}</p>

        </div>
        
        {{/dataValuesArray}}

    </div>

    <form action="/itens/registerItem" method="post" enctype="multipart/form-data">>

        <label for="nome_item">Nome </label>
        <input id="nome_item" name="nome_item" type="text">

        <label for="imagem_item">Imagem do Item:</label>
        <input type="file" id="imagem_item" name="imagem_item" accept="image/*" required><br>

        <label for="descricao_item">Descrição </label>
        <input id="descricao_item" name="descricao_item" type="text">

        <label for="preco_item">Preço </label>
        <input id="preco_item" name="preco_item" type="text">

        <label for="estado_item">Estado</label>
        <input id="estado_item" name="estado_item" type="text">

    <button type="submit">Enviar anúncio</button>
    
    </form>

    <footer>
        
        <p> Todos os direitos reservados </p>

    </footer>

</body>

</html>
