<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{styleIndexPath}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMS</title>
</head>
<body>

    <header>
        <img src="{{imagePath}}" alt="Logo">

        <a href="/login">ENTRAR</a>

    </header>

    <h2>Produtos Recomendados pelo site</h2>

    <div class="carrossel">
        {{#images}}
            <img src="{{.}}" alt="Imagem">
        {{/images}}
    </div>

    <h2>Departamentos</h2>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>

</html>
