<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/perfil.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoTech</title>
    <link rel="icon" href="images/Logo.png" type="image/x-icon">
</head>
<body>

    <header>
        
        <img src="images/Logo.png" alt="Logo" width="150" height="150">

        <nav>
            <ul>
                <li><a href="/sobre">QUEM SOMOS</a></li>

                {{#estaLogado}}
                <li style="color: #12BD27; font-size: 20px;">
                    <a href="/">HOME</a> / 
                    <form action="/usuario/logoutUsuario" method="POST" style="display:inline;">
                        <button type="submit" id="btSair" style="color: red; font-size: 20px; background: none; border: none; cursor: pointer;">SAIR</button>
                    </form>
                </li>
                {{/estaLogado}}

                {{^estaLogado}}

                {{/estaLogado}}
            </ul>
        </nav>

    </header>

    {{#usuario}}

    <div class="perfil">
        <div class="box">

            <label>Nome completo:</label>
            <input type="text" value="{{nome_usuario}}" disabled>

        </div>

        <div class="box">

            <label>Email:</label>
            <input type="text" value="{{email_usuario}}" disabled>

        </div>

        <div class="box">

            <label>Telefone:</label>
            <input type="text" value="{{telefone_usuario}}" disabled>

        </div>

    </div>

    {{/usuario}}

    <a href="/anunciar" id="botao-anunciar">Anunciar</a>

</body>

</html>
