<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/entrar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoTech</title>
    <link rel="icon" href="images/Logo.png" type="image/x-icon">
</head>
<body>

    <header>
    
        <img src="images/Logo.png" alt="Logo" width="150" height="150">
        <a href="/entrar"></a>

    </header>

    <form action="/usuario/registerUsuario" method="post">

        <h2>Registrar</h2>

        <label for="nome_usuario">Nome: </label>
        <input id="nome_usuario" name="nome_usuario" type="text">

        <label for="email_usuario">Email:</label>
        <input id="email_usuario" name="email_usuario" type="text">

        <label for="cpf_usuario">CPF:</label>
        <input id="cpf_usuario" name="cpf_usuario" type="text">

        <label for="telefone_usuario">Telefone: </label>
        <input id="telefone_usuario" name="telefone_usuario" type="text">

        <label for="senha_usuario">Senha:</label>
        <input id="senha_usuario" name="senha_usuario" type="password">

        <a href="/entrar"> Já possui uma conta? Faça o login!</a>

        <button type="submit">Confirmar</button>
    
    </form>


</body>

</html>
