<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/sobre.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoTech</title>
    <link rel="icon" href="images/Logo.png" type="image/x-icon">
</head>
<body>

    <header>

        <img src="images/Logo.png" alt="Logo" width="150" height="150">

    </header>


   <div class="sobre">
        <h2>Sobre o site</h2>
        <p>
            Bem-vindo ao nosso site de venda de produtos eletrônicos usados! Aqui, você encontrará uma ampla variedade de dispositivos eletrônicos de alta qualidade, incluindo smartphones, laptops, tablets, câmeras e muito mais. Todos os nossos produtos são cuidadosamente inspecionados e testados para garantir que funcionem perfeitamente, oferecendo uma alternativa econômica e sustentável à compra de novos equipamentos.
        </p>
        <p>
            Nosso objetivo é tornar a tecnologia acessível a todos, proporcionando uma experiência de compra confiável e conveniente. Valorizamos a transparência e a satisfação do cliente, por isso fornecemos descrições detalhadas e imagens de alta resolução de cada item, bem como políticas claras de garantia e devolução.
        </p>
        <p>
            Além disso, ao escolher comprar produtos eletrônicos usados, você está contribuindo para a redução de resíduos eletrônicos e para a preservação do meio ambiente. Acreditamos que todos podem fazer sua parte para um futuro mais verde, e nossa plataforma é um passo nessa direção.
        </p>
        <p>
            Explore nosso catálogo e encontre o equipamento eletrônico que você precisa a preços acessíveis. Estamos aqui para ajudá-lo em cada etapa do processo de compra, desde a seleção até a entrega. Se tiver alguma dúvida, nossa equipe de suporte ao cliente está sempre pronta para assisti-lo.
        </p>
        <p>
            Obrigado por escolher nosso site para suas necessidades de produtos eletrônicos usados. Esperamos que você tenha uma excelente experiência de compra!
        </p>
</div>


    <div class="desenvolvedores">



    </div>


 


</body>

</html>
