<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/sobre.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoTech</title>
</head>
<body>

    <header>

        <img src="images/Logo.png" alt="Logo" width="150" height="150">

    </header>


    <div class="titulo">
    
        <h2>Sobre o site</h2>

        <h2>Desenvolvedores</h2>

        <p>O site </p>
    
    </div>


 


</body>

</html>
