@import url(global.css);

h1{

    color: #12BD27;

}

.itens{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    margin-top: 50px;
    margin-bottom: 150px;
    color: white;

}

.itens .item{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 30vh;
    background-color: #1a1a1a;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    color: white;

}

.itens .item img{

    border-radius: 10px;
    margin: 10px;
    transition: ease 0.5s;

}

.itens .item img:hover {

    cursor: pointer;
    transform: scale(1.1);

}