@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

@import url(global.css);


form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    font-size: 22px;
    width: 25%;
    border-radius: 10px;
    background-color: #1a1a1a;
    margin-bottom: 10px;
    padding: 60px 10px;

}

form a{
    color: white;
    font-size: 16px;
    margin: auto;
    margin-top: 3rem;
    text-decoration: none;
}

form a:hover{
    color: #8ae492;
}

h1, h2{
    color: #12BD27;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}


form label{
    color: #12BD27;
    margin-top: 1rem;
    margin-left: 10%;
    margin-bottom: 0.5rem;

}

form input,textarea{

    border:none;
    border: 1px solid  #1a1a1a;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 0px auto ;
    width: 80%;
    background-color: #000000;
    color: #CCCCCC;

}

form button {

    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #12BD27 ;
    border: none;
    width: 50%;
    margin: 20px auto;
    color: white;
}

form button:hover {

    background-color: #3cd84c ;
    
}

