@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('components/header.css');
@import url('components/footer.css');

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #363636; 
    border-radius: 5px; 
    border: none; 
}

body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

