@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('global.css');

h2 {

    width: 100%;
    color: #12BD27;

}

.titulo{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-top: 50px;

}

.titulo img{

    margin: 0 10px 0 0;

}

.item p{

    text-wrap: wrap;
    text-align: center;

}

.carrossel {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    transition: transform 0.5s ease;
}

.carrossel .item {

    display: inline-block;
    background-color: #1a1a1a;
    text-align: center;
    padding: 10px;
    color: white;
    margin: 40px;
    border-radius: 5px;
    transition: ease 0.5s;

}

.carrossel .item img {

    border-radius: 10px;
    margin: 10px;

}

.carrossel .item:hover {

    cursor: pointer;
    transform: scale(1.1);

}

.carrossel .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    border-radius: 20px; 
    transition: ease 0.5s; 
}

.carrossel .card img {
    border-radius: 20px; 
    z-index: 0; 
}

.carrossel .card p {
    width: 100%;
    height: 100%; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 10px 15px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    text-align: center; 
}

.carrossel .card:hover {
    cursor: pointer;
    transform: scale(1.1);
}





