@import url(global.css);

.perfil{
    margin-top: 5rem;
    background-color: #1a1a1a;
    border-radius: 10px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 50px;
}

.perfil h2{
    color: #12BD27;
    display: flex;
    justify-content: center;
}

.perfil .box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.perfil .box label{
    width: 150px;
    text-align: left;
    color: #12BD27;
    font-weight: bold;
    margin: 5px 20px;
    font-size: 20px;
}

.perfil .box input{
    color: #12BD27;
    font-weight: bold;
    width: 15vw;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    padding: 10px;
    background-color: #272727;
}

#botao-anunciar {

    font-family: 'Kanit', sans-serif;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent ;
    color: #12BD27;
    border: 2px solid #12BD27;
    width: 10%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}


#botao-anunciar:hover {

    color: white;
    background-color: #3cd84c ;
    
}

#botaoDeletarConta {

    font-family: 'Kanit', sans-serif;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent ;
    color: #3b0000;
    border: none;
    margin: 40px auto;
    text-align: center;
    text-decoration: none;

}

#botaoDeletarConta:hover {

    color: #ff0000;
    cursor: pointer;
    
}