@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('global.css');



h2 {

    color: #12BD27;

    font-size: 30px;

}

.sobre_nos{
    margin-top: 5rem;
    background-color: #1a1a1a;
    border-radius: 10px;
    width: 90vw;
    margin-bottom: 5rem;
    padding: 20px;
    display: flex;
    flex-direction: row;

    
}

.sobre_nos h2{

    display: flex;
    justify-content: center;
}

.sobre_nos p{

    color: white;
    margin: 5px 30px;
    font-size: 20px;
}

.topico{

    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 30vh;
    justify-content: center;
    margin-bottom: 10rem;
    gap: 90px;

    

}

.topico1{
    flex: 1;
    height: 33vh;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    transition: ease 0.5s;

}

.topico1:hover {

    cursor: pointer;
    transform: scale(1.1);

}

.topico h2{

    text-align: center;
}


p{
    color: white;
    font-size: 18px;
}