@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('global.css');



h2 {

    color: #12BD27;

    font-size: 30px;

}

.sobre{
    margin-top: 5rem;
    background-color: #1a1a1a;
    border-radius: 10px;
    width: 70vw;
    margin-bottom: 5rem;
}

.sobre h2{

    display: flex;
    justify-content: center;
}

.sobre p{

    color: white;

    margin: 5px 30px;
    font-size: 20px;
}