footer{
    bottom: 0;
    width: 100%;
    border-top: 1px solid #12BD27;
    color: #ffffff;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: flex-start; 
    margin-top: 20rem;
}

footer div{

    margin: 60px;

}

footer .sobre{

    display: flex;
    flex-direction: column;
    align-items: center;    

}

footer a {
    text-decoration: none;
    color: white;
}

footer .conteudo a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    
}

footer a:hover {
    color: #12BD27;
}

footer h3{
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #12BD27;
}

footer .sobre p{

    color: #12BD27;
    
}
